<!-- 
<mat-toolbar class="footer" color="primary">
  <div class="footer-sec">
    <div class="footer-section">
      <div class="section-A">
        <h3>ONLINE SHOPPING</h3>
      </div>
      <div class="section-B"><h4>EXPERIENCE MYNTRA APP ON MOBILE</h4></div>
      <div class="section-C">
        <h4>CUSTOMER POLICIES</h4>
      </div>
    </div>
  </div>
</mat-toolbar> -->

<p class="footer">
  <mat-toolbar color="primary" class="footer-bar">
    <div class="footer-customer">
      <button class="example-spacer" mat-button>ONLINE SHOPPING</button>

      <!-- <div>
            <mat-list role="list">
              <mat-list-item class="footer-items" role="listitem"
                >Item 1</mat-list-item
              >
              <mat-list-item class="footer-items" role="listitem"
                >Item 2</mat-list-item
              >
              <mat-list-item class="footer-items" role="listitem"
                >Item 3</mat-list-item
              >
            </mat-list>
          </div> -->
    </div>

    <button class="example-spacer" mat-button>CUSTOMER POLICIES</button>
    <button class="example-spacer" mat-button>
      EXPERIENCE MYNTRA APP ON MOBILE
    </button>

    © 2022 www.myntra.com. All rights reserved.

    <!-- <mat-button-toggle>Bold</mat-button-toggle> -->
  </mat-toolbar>
</p>
