<mat-grid-list cols="5" rowHeight="1:1" class="grid">
  <img
    class="image"
    src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/retaillabs/2022/5/5/5bacbdb9-42c9-4372-b70a-58b7b939e65a1651729895166-Download-app.png"
  />
  <div class="text-banner-container">
    <h4 class="text-banner">TOP PICKS</h4>
    <h4 class="text-banner-subtitle"></h4>
  </div>
  <div class="flex-container-picks">
    <div *ngFor="let category1 of category">
      <app-category [category]="category1"> </app-category>
    </div>
  </div>

  <div class="text-banner-container">
    <h4 class="text-banner">CATEGORIES TO BAG</h4>
    <h4 class="text-banner-subtitle"></h4>
  </div>
  <div>
    <div class="flex-container">
      <div class="flex-container-1">
        <img
          class="image-flex"
          src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/2/23/aae4be67-e611-47f4-b94e-92a16a36df731645602467007-Hangbags.jpg"
        />
      </div>
      <div class="flex-container-1">
        <img
          class="image-flex"
          src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/2/23/dd4414f8-4e1b-4a22-997e-8e06c0a5ff861645602467167-T-Shirts.jpg"
        />
      </div>
      <div class="flex-container-1">
        <img
          class="image-flex"
          src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/2/23/aa4658b5-d723-4652-9ea1-00456b355c3a1645602467046-Kurta-Sets.jpg"
        />
      </div>
      <div class="flex-container-1">
        <img
          class="image-flex"
          src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/2/23/fb091b07-c275-4578-b08d-b4f93dfe9e841645602466976-Beauty.jpg"
        />
      </div>
      <div class="flex-container-1">
        <img
          class="image-flex"
          src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/2/23/b34a30a6-504b-4c94-b7e1-61391d536bc51645602467038-Jewellery.jpg"
        />
      </div>
    </div>
  </div>
</mat-grid-list>

<!-- ***** responsive code -->
<!-- <img
  class="image"
  src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/retaillabs/2022/5/5/5bacbdb9-42c9-4372-b70a-58b7b939e65a1651729895166-Download-app.png"
/>
<div>
  <div class="tagline">WHY SHOULD YOU SHOP ON MYNTRA?</div>
  <img
    class="image"
    src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/2022/8/16/d1556089-8eea-44bd-882a-6760f3fb5c4c1660589604357-RTB-1st-order--1-.jpg"
  />
  <img
    class="image"
    src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/retaillabs/2022/11/3/77444065-09a5-4ed4-b9f8-fbb2ddecaa641667414386046-HPW-StayTuned---1-.jpg"
  />
</div> -->
<!-- <div class="container-kids">
  <div class="text-banner-container">
    <h4 class="text-banner-1">HANDPICKED BRANDS FOR YOU</h4>
    <h4 class="text-banner-subtitle"></h4>
  </div>
  <div class="flex-responsive">
    <div>
      <img
        class="flex-properties"
        src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/2022/5/9/e9a017c5-0a70-4e65-834b-d3c0b6fc1b751652096696753-Highlander.jpg"
      />
    </div>
    <div>
      <img
        class="flex-properties"
        src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/2022/5/9/204bdc69-aa58-41d4-a023-26f6968ae1a41652096696910-Sangria.jpg"
      />
    </div>
    <div>
      <img
        class="flex-properties"
        src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/2022/5/9/375108e0-3b82-470d-b93f-2a3623558c241652096696803-Libas.jpg"
      />
    </div>
  </div>
</div> -->
<!-- <div class="flex-responsive">
  <div>
    <img
      class="flex-properties"
      src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/2022/5/9/06768bcc-c309-47d4-bda6-9af790951b1b1652096696838-MAX.jpg"
    />
  </div>
  <div>
    <img
      class="flex-properties"
      src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/2022/5/9/3ce67235-b193-4964-98a2-589d608c3ae21652096696985-Vishudh.jpg"
    />
  </div>
  <div>
    <img
      class="flex-properties"
      src="https://assets.myntassets.com/f_webp,dpr_1.5,q_auto:eco,w_600,c_limit,fl_progressive/assets/images/2022/5/9/08017207-cd92-4e2d-b89a-d50908fd6c101652096696719-H_M.jpg"
    />
  </div>
</div> -->

<!-- ************ responsive code ends  ********** -->
