<!-- <mat-toolbar class="mat-toolbar-row menu">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Myntra</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar> -->
<!-- ****** -->
<!-- <mat-toolbar class="sideNav" color="primary">
  <mat-sidenav
    #drawer
    mode="side"
    class="drawer"
    fixedInViewport="true"
    [attr.role]="'dialog'"
  >
  </mat-sidenav>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()"> menu</mat-icon>
    </button>

    <h1>Myntra</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidebar">
  <mat-sidenav #drawer opened="true" mode="side">
    <mat-nav-list>
      <a mat-list-item>Homes </a>
      <a mat-list-item>Account</a>
      <a mat-list-item>About Us </a>
      <a mat-list-item> Contact Us </a>
      <a mat-list-item> Help </a>
    </mat-nav-list></mat-sidenav
  >
  <mat-sidenav-content>
    <div style="height: 50vh"></div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
